.DS_Store
Photoshop & Premiere Pro/Audio/Sound Effects/Project Folder/Adobe Premiere Pro Auto-Save/Pac-Man Sound Effects--2676b169-106e-93c0-f9b9-9b06470cbd52-2025-01-11_19-35-07.prproj
Photoshop & Premiere Pro/Audio/Sound Effects/Project Folder/Adobe Premiere Pro Auto-Save/Pac-Man Sound Effects--2676b169-106e-93c0-f9b9-9b06470cbd52-2025-01-11_19-43-12.prproj
Photoshop & Premiere Pro/Audio/Sound Effects/Project Folder/Adobe Premiere Pro Auto-Save/Pac-Man Sound Effects--2676b169-106e-93c0-f9b9-9b06470cbd52-2025-01-11_20-46-58.prproj
Photoshop & Premiere Pro/Audio/Sound Effects/Project Folder/Adobe Premiere Pro Auto-Save/Pac-Man Sound Effects--2676b169-106e-93c0-f9b9-9b06470cbd52-2025-01-11_20-54-25.prproj
Photoshop & Premiere Pro/Audio/Sound Effects/Project Folder/Adobe Premiere Pro Auto-Save/Pac-Man Sound Effects--2676b169-106e-93c0-f9b9-9b06470cbd52-2025-01-14_18-09-08.prproj
Photoshop & Premiere Pro/Audio/Sound Effects/Project Folder/Adobe Premiere Pro Auto-Save/Pac-Man Sound Effects--2676b169-106e-93c0-f9b9-9b06470cbd52-2025-01-14_18-22-23.prproj
Photoshop & Premiere Pro/Audio/Sound Effects/Project Folder/Adobe Premiere Pro Auto-Save/Pac-Man Sound Effects--2676b169-106e-93c0-f9b9-9b06470cbd52-2025-01-14_19-09-22.prproj
Photoshop & Premiere Pro/Audio/Sound Effects/Project Folder/Adobe Premiere Pro Auto-Save/Pac-Man Sound Effects--2676b169-106e-93c0-f9b9-9b06470cbd52-2025-01-14_19-37-18.prproj
Photoshop & Premiere Pro/Audio/Sound Effects/Project Folder/Adobe Premiere Pro Auto-Save/Pac-Man Sound Effects--2676b169-106e-93c0-f9b9-9b06470cbd52-2025-01-14_20-15-43.prproj
Photoshop & Premiere Pro/Audio/Sound Effects/Project Folder/Adobe Premiere Pro Auto-Save/Pac-Man Sound Effects--2676b169-106e-93c0-f9b9-9b06470cbd52-2025-01-14_20-21-52.prproj
Photoshop & Premiere Pro/Audio/Sound Effects/Project Folder/Adobe Premiere Pro Auto-Save/Pac-Man Sound Effects--2676b169-106e-93c0-f9b9-9b06470cbd52-2025-01-14_20-27-52.prproj
Photoshop & Premiere Pro/Audio/Sound Effects/Project Folder/Adobe Premiere Pro Auto-Save/Pac-Man Sound Effects--2676b169-106e-93c0-f9b9-9b06470cbd52-2025-01-14_23-24-56.prproj
Photoshop & Premiere Pro/Audio/Sound Effects/Project Folder/Adobe Premiere Pro Auto-Save/Pac-Man Sound Effects--2676b169-106e-93c0-f9b9-9b06470cbd52-2025-01-15_11-35-43.prproj
Photoshop & Premiere Pro/Audio/Sound Effects/Project Folder/Adobe Premiere Pro Auto-Save/Pac-Man Sound Effects--2676b169-106e-93c0-f9b9-9b06470cbd52-2025-01-15_11-41-43.prproj
Photoshop & Premiere Pro/Audio/Sound Effects/Project Folder/Adobe Premiere Pro Auto-Save/Pac-Man Sound Effects--2676b169-106e-93c0-f9b9-9b06470cbd52-2025-01-15_11-47-43.prproj
Photoshop & Premiere Pro/Audio/Sound Effects/Project Folder/Adobe Premiere Pro Auto-Save/Pac-Man Sound Effects--9a92d693-bb59-ad52-fd42-061f7b70d781-2025-01-11_19-23-40.prproj
